@import "tailwindcss";

@theme {
  --color-primary: var(--color-orange-600);
  --color-background: var(--color-stone-50);
  --color-surface: #FFFFFF;
  --color-border: var(--color-stone-200);
  --color-text-hi: var(--color-stone-900);
  --color-text-lo: var(--color-stone-500);
  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility text-cook {
  font-size: 24px;
  line-height: 1.625;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-hi);
  font-family: var(--font-sans), sans-serif;
  /* Prevent text size adjustment after orientation changes in iOS */
  -webkit-text-size-adjust: 100%;
}
